<main class="main_listas">
    <div>
        <h2>Duelistas</h2>
        <ul class="contenedor_listas">
            <li class="duelista">Jett<img width="30" src="assets/img/duelista.png" alt="duelista"></li>
            <li class="duelista">Raze<img width="30" src="assets/img/duelista.png" alt="duelista"></li>
            <li class="duelista">Phoenix<img width="30" src="assets/img/duelista.png" alt="duelista"></li>
            <li class="duelista">Reyna<img width="30" src="assets/img/duelista.png" alt="duelista"></li>
            <li class="duelista">Yoru<img width="30" src="assets/img/duelista.png" alt="duelista"></li>
            <li class="duelista">Neon<img width="30"  src="assets/img/duelista.png" alt="duelista"></li>
        </ul>
    </div>
    <div>
        <h2>Iniciadores</h2>
        <ul class="contenedor_listas">
            <li class="iniciador">Breach <img width="30" src="assets/img/iniciador.png" alt="iniciador"></li>
            <li class="iniciador">Sova <img width="30" src="assets/img/iniciador.png" alt="iniciador"></li>
            <li class="iniciador">Skye <img width="30" src="assets/img/iniciador.png" alt="iniciador"></li>
            <li class="iniciador">Kay/o <img width="30" src="assets/img/iniciador.png" alt="iniciador"></li>
            <li class="iniciador">Fade <img width="30" src="assets/img/iniciador.png" alt="iniciador"></li>
        </ul>
    </div>
    <div>
        <h2>Controladores</h2>
        <ul class="contenedor_listas">
            <li class="controlador">Omen <img width="30" src="assets/img/controlador.png" alt="controlador"></li>
            <li class="controlador">Bristome <img width="30" src="assets/img/controlador.png" alt="controlador"></li>
            <li class="controlador">Viper <img width="30" src="assets/img/controlador.png" alt="controlador"></li>
            <li class="controlador">Astra <img width="30" src="assets/img/controlador.png" alt="controlador"></li>
        </ul>
    </div>
    <div>
        <h2>Centinelas</h2>
        <ul class="contenedor_listas">
            <li class="centinela">Sage <img width="30" src="assets/img/centinela.png" alt="centinela"></li>
            <li class="centinela">Cypher <img width="30" src="assets/img/centinela.png" alt="centinela"></li>
            <li class="centinela">Killjoy <img width="30" src="assets/img/centinela.png" alt="centinela"></li>
            <li class="centinela">Chamber <img width="30" src="assets/img/centinela.png" alt="centinela"></li>
        </ul>
    </div>
</main>
