.duelista{
    background-color:rgb(232, 74, 74);
}

.iniciador{
    background-color:rgb(48, 185, 200);
}

.controlador{
    background-color:rgb(48, 200, 132);
}

.centinela{
    background-color:rgb(215, 129, 230);
}